<div class="container">
  <h2 class="text-primary"><%= station.name %></h2>
  <p><%= station.address %></p>
  <div>
    <%= cl_image_tag station.photo.key, class:"img-thumbnail border-0" %>
  </div>
</div>
