<div>
  <div class="row container-half-cover justify-content-center align-items-center">

    <div class="container-half-image col-6" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(https://res.cloudinary.com/dr7mlnvca/image/upload/v1665248284/olena-sergienko-dIMJWLx1YbE-unsplash_ihgybj.jpg)"></div>

    <div class="p-5 col-6">
      <h4 class="py-3">Ingresa los siguientes datos para crear una estación:</h4>
      <%= render 'form'%>
    </div>

  </div>
</div>
