<div class="container mb-3">
  <div class="row">

    <div class="d-flex flex-column col-6 justify-content-center align-items-center">
      <img src="http://res.cloudinary.com/depwpts87/image/upload/v1667660994/quvpig1c5othowvv2ibi.png" class="card-img-top">
    </div>

    <div class="d-flex flex-column col-6 justify-content-center my-3 px-3">
      <h4 class="text-primary text-center mb-4">Ingresa los siguientes datos para crear una estación:</h4>
      <%= render 'form'%>
    </div>

  </div>
</div>
