  <!-- Footer -->
  <footer class="text-center text-lg-start" style="background-color: #FFDF35">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <!-- Section: Links -->
      <section>
        <!--Grid row-->
        <div class="row">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-3 col-xl-3 mx-3 mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold">
              <img src="http://res.cloudinary.com/depwpts87/image/upload/v1667069451/upaevlkyd397bcclqxia.png" style="height: 40px">
            </h6>
          </div>
          <!-- Grid column -->

          <hr class="w-100 clearfix d-md-none" />

          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-2 mt-4">
            <h6 class="mb-4" style="font-weight: 500">Links</h6>
            <p>
              <a>FlyFuel Empresas</a>
            </p>
            <p>
              <a>Contacto</a>
            </p>
            <p>
              <a>Seguridad</a>
            </p>
            <p>
              <a>Trabaja con Nosotros</a>
            </p>
          </div>
          <!-- Grid column -->

          <hr class="w-100 clearfix d-md-none" />

          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-2 mt-4">
            <h6 class="mb-4" style="font-weight: 500">Contacto</h6>
            <p><i class="fas fa-home mr-3"></i> Milla de Oro, Of. 301</p>
            <p><i class="fas fa-phone mr-3"></i> +57 300 123 4567</p>
            <p><i class="fas fa-envelope mr-3"></i> contacto@flyfuel.com</p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-2 mt-4">
            <a class="btn" role="button">
              <i class="fab fa-facebook-f"></i>
            </a>
            <a class="btn" role="button">
              <i class="fab fa-twitter"></i>
            </a>
            <a class="btn" role="button">
              <i class="fab fa-instagram"></i>
            </a>
          </div>
          <!-- Grid column -->

        </div>
        <!--Grid row-->
      </section>
      <!-- Section: Links -->

      <hr class="my-3">

      <!-- Section: Copyright -->
      <section class="p-3 pt-0">
        <div class="row d-flex align-items-center">
          <div class="text-center">
            <div class="p-3">
              © 2020 Copyright FlyFuel
            </div>
          </div>
        </div>
      </section>
      <!-- Section: Copyright -->
    </div>
    <!-- Grid container -->
  </footer>
  <!-- Footer -->
