<div class="container">
  <div class="row">
    <div class="d-flex flex-column col-md-5 justify-content-center align-items-center">
      <h1>FlyFuel</h1>
      <p>Combustible agil</p>
      <%=
        link_to 'Busca una Estacion', gas_stations_path,
        class: "p-3 m-3 btn btn-primary"
      %>
    </div>
    <div class="d-flex col-md-7">
      <img src="http://res.cloudinary.com/depwpts87/image/upload/v1667064243/suqolqxlccoxuftkutkq.png" class="card-img-top">
    </div>
  </div>

  <div class="row">
    <div class="d-flex my-5 justify-content-around align-items-center">
      <div class="col-3">
        <div class="card" style="border: 0">
          <div class="card-body">
            <h5 class="card-title">Ágil</h5>
            <p class="card-text">Presentamos un servicio unico facil de utilizar desde donde te encuentres.</p>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="card" style="border: 0">
          <div class="card-body">
            <h5 class="card-title">Seguro</h5>
            <p class="card-text">Queremos que estes seguro en todo momento por eso no tendras que utilizar efectivo.</p>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="card" style="border: 0">
          <div class="card-body">
            <h5 class="card-title">Rápido</h5>
            <p class="card-text">Tanquea tu carro ahorrando tiempo en el proceso.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="d-flex flex-column my-5 py-5 justify-content-around align-items-center">
    <div>
      <h2>Marcas Aliadas</h2>
    </div>
    <div class="d-flex justify-content-around align-items-center mt-5">
      <img
        title="Logo Esoo"
        src="http://res.cloudinary.com/depwpts87/image/upload/v1667072846/wxb3o122tkygirxkiwx0.png"
        class="mx-5"
        style="height: 70px"
      >
      <img
        title="Logo Terpel"
        src="http://res.cloudinary.com/depwpts87/image/upload/v1667073539/axvafbtxono6neq4jbrz.png"
        class="mx-5"
        style="height: 60px"
      >
            <img
        title="Logo Shell"
        src="http://res.cloudinary.com/depwpts87/image/upload/v1667073819/q0kn1g0jerjcevgiaslk.png"
        class="mx-5"
        style="height: 60px"
      >
      <img
        title="Logo Primax"
        src="http://res.cloudinary.com/depwpts87/image/upload/v1667073630/xvo2osdjt6qpjcpvqm5x.png"
        class="mx-5"
        style="height: 60px"
      >
      <img
        title="Logo Texaco"
        src="http://res.cloudinary.com/depwpts87/image/upload/v1667073880/aajz1urjbnujzpudzdc2.png"
        class="mx-5"
        style="height: 60px"
      >
    </div>
  </div>
</div>
