<div class="container text-center">
  <img src="http://res.cloudinary.com/depwpts87/image/upload/v1667679736/hlyifma5qw33rqx3m7c3.png" style="height: 50px" class="my-4">
  <h1 class="text-primary">Tu pago ha sido realizado con exito</h1>
  <p>Hemos enviado un mensaje a tu correo electrónico con tu factura y el codigo QR</p>


  <img src="http://res.cloudinary.com/depwpts87/image/upload/v1667679049/g8mlkseunowtztklyk28.jpg" class="mb-5 mt-3 animate__animated animate__fadeInDown" style="height: 400px">
</div>
